.{
/* Principal */

position: relative;
width: 1600px;
height: 2410px;

background: #ffffff;

/* Línea superior */

position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

/* línea superior bg */

position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

background: #ffffff;

/* Línea */

position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 80px;

border: 1px solid #ececec;

/* Estudio Web */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: "Raleway";
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
text-align: right;
letter-spacing: 0.03em;

color: #2196f3;

/* Menu Nav */

position: absolute;
width: 281px;
height: 16px;
left: 453px;
top: 32px;

/* Estudio */

position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

/* Enlace activo */

position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;

/* Estudio */

position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196f3;

/* Portafolio */

position: absolute;
width: 65px;
height: 16px;
left: 552px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

/* Сontactos */

position: absolute;
width: 67px;
height: 16px;
left: 667px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

/* Text */

position: absolute;
width: 0px;
height: 16px;
left: 679px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

/* Correo electrónico */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

/* info@devstudio.com */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

/* Activable */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

/* info@devstudio.com */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196f3;

/* Teléfono */

position: absolute;
width: 118px;
height: 16px;
left: 1263px;
top: 32px;

/* +52 55 5529 6000 */

position: absolute;
width: 118px;
height: 16px;
left: 1263px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

/* Título */

position: absolute;
width: 1600px;
height: 600px;
left: -4px;
top: 80px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

/* Bg */

position: absolute;
width: 1600px;
height: 600px;
left: -4px;
top: 80px;

background: #2f303a;

/* SOLUCIONES EFICACES PARA SU NEGOCIO */

position: absolute;
width: 696px;
height: 120px;
left: 448px;
top: 280px;

font-family: "Roboto";
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #ffffff;

/* Botón */

position: absolute;
width: 261px;
height: 50px;
left: 666px;
top: 430px;

/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 32px;
gap: 10px;

position: absolute;
width: 261px;
height: 50px;
left: 666px;
top: 430px;

background: #2196f3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

/* Solicite nuestro servicio */

width: 197px;
height: 30px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Botón (Activable) */

position: absolute;
visibility: hidden;
width: 200px;
height: 50px;
left: 696px;
top: 430px;

/* bg */

position: absolute;
width: 200px;
height: 50px;
left: 696px;
top: 430px;

background: #188ce8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

/* Solicite nuestro servicio */

position: absolute;
width: 136px;
height: 30px;
left: 728px;
top: 440px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #ffffff;

/* A qué nos dedicamos */

position: absolute;
width: 1173.16px;
height: 425px;
left: 215px;
top: 991px;

/* caja 1 */

position: absolute;
width: 373.16px;
height: 323.7px;
left: 215px;
top: 1092.3px;

/* imagen */

position: absolute;
width: 373.16px;
height: 323.7px;
left: 215px;
top: 1092.3px;

background: url(.jpg);
mix-blend-mode: normal;

/* caja 2 */

position: absolute;
width: 373.16px;
height: 323.7px;
left: 618.42px;
top: 1092.3px;

/* imagen */

position: absolute;
width: 373.16px;
height: 323.7px;
left: 618.42px;
top: 1092.3px;

background: url(.jpg);

/* caja 3 */

position: absolute;
width: 373.16px;
height: 323.7px;
left: 1015px;
top: 1092px;

/* imagen */

position: absolute;
width: 373.16px;
height: 323.7px;
left: 1015px;
top: 1092px;

background: url(.jpg);

/* A qué nos dedicamos */

position: absolute;
width: 371.15px;
height: 46.24px;
left: 619.43px;
top: 991px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* Nuestro Equipo */

position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1510px;

/* Sección bg */

position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1510px;

background: #f5f4fa;

/* equipo */

position: absolute;
width: 1177px;
height: 368px;
left: 208px;
top: 1696px;

/* tarjeta del equipo 1 */

position: absolute;
width: 270px;
height: 368px;
left: 208px;
top: 1696px;

/* tarjeta bg */

position: absolute;
width: 270px;
height: 368px;
left: 208px;
top: 1696px;

background: #ffffff;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

/* imagen */

position: absolute;
width: 270px;
height: 260px;
left: 208px;
top: 1696px;

background: url(.jpg);
border-radius: 0px;

/* Andrés Cubo */

position: absolute;
width: 97px;
height: 19px;
left: 295px;
top: 1986px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* Diseñador de Productos */

position: absolute;
width: 181px;
height: 19px;
left: 253px;
top: 2015px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;

/* tarjeta del equipo 2 */

position: absolute;
width: 270px;
height: 368px;
left: 515px;
top: 1696px;

/* tarjeta bg */

position: absolute;
width: 270px;
height: 368px;
left: 515px;
top: 1696px;

background: #ffffff;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

/* imagen */

position: absolute;
width: 270px;
height: 260px;
left: 515px;
top: 1696px;

background: url(.jpg);
border-radius: 0px;

/* Carla Palacios */

position: absolute;
width: 109px;
height: 19px;
left: 596px;
top: 1986px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* Desarrolladora Frontend */

position: absolute;
width: 183px;
height: 19px;
left: 559px;
top: 2015px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;

/* tarjeta del equipo 3 */

position: absolute;
width: 270px;
height: 368px;
left: 822px;
top: 1696px;

/* tarjeta bg */

position: absolute;
width: 270px;
height: 368px;
left: 822px;
top: 1696px;

background: #ffffff;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

/* imagen */

position: absolute;
width: 270px;
height: 260px;
left: 822px;
top: 1696px;

background: url(.jpg);
border-radius: 0px;

/* Mario Dorado */

position: absolute;
width: 103px;
height: 19px;
left: 906px;
top: 1986px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* Marketing */

position: absolute;
width: 76px;
height: 19px;
left: 919px;
top: 2015px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;

/* tarjeta del equipo 4 */

position: absolute;
width: 270px;
height: 368px;
left: 1115px;
top: 1696px;

/* tarjeta bg */

position: absolute;
width: 270px;
height: 368px;
left: 1115px;
top: 1696px;

background: #ffffff;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

/* imagen */

position: absolute;
width: 270px;
height: 260px;
left: 1115px;
top: 1696px;

background: url(.jpg);
border-radius: 0px;

/* Pablo Mijangos */

position: absolute;
width: 118px;
height: 19px;
left: 1191px;
top: 1986px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* Diseñador IU */

position: absolute;
width: 97px;
height: 19px;
left: 1202px;
top: 2015px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;

/* Nuestro Equipo */

position: absolute;
width: 263px;
height: 42px;
left: 669px;
top: 1604px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* Base */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2158px;

/* Pie de página bg */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2158px;

background: #2f303a;

/* Estudio Web */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2218px;

font-family: "Raleway";
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: #2196f3;

/* Dirección */

position: absolute;
width: 231px;
height: 92px;
left: 215px;
top: 2258px;

/* Calz. Ticomán 500, Ciudad de México, CDMX, México */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2258px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #ffffff;

/* info@example.com */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2306px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

/* +52 55 5529 6000 */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2329px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

/* (indicadores) */

position: absolute;
width: 643px;
height: 2788px;
left: 480px;
top: 49px;

/* señal 1 */

position: absolute;
width: 16px;
height: 16px;
left: 480px;
top: 49px;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

background: #000000;

/* señal 2 */

position: absolute;
width: 16px;
height: 16px;
left: 1107px;
top: 51px;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

background: #000000;

/* señal 3 */

position: absolute;
width: 16px;
height: 16px;
left: 585px;
top: 2821px;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Group 1 */

position: absolute;
width: 1170px;
height: 122px;
left: 215px;
top: 775px;

/* Особенности */

position: absolute;
width: 1170px;
height: 122px;
left: 215px;
top: 775px;

/* Feature 1 */

position: absolute;
width: 270px;
height: 101px;
left: 215px;
top: 775px;

/* ATENCIÓN A LOS DETALLES */

position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 775px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

/* Nos adentramos en todos los detalles y procesos de su negocio, para así desarrollar una solución a su medida. */

position: absolute;
width: 270px;
height: 75px;
left: 215px;
top: 801px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;

/* Feature 2 */

position: absolute;
width: 270px;
height: 122px;
left: 515px;
top: 775px;

/* PUNTUALIDAD */

position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 775px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

/* Con nosotros, usted puede sentirse seguro y protegido. Un principio importante de la empresa: respetar su tiempo y respetar los plazos acordados. */

position: absolute;
width: 270px;
height: 96px;
left: 515px;
top: 801px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

/* Feature 3 */

position: absolute;
width: 270px;
height: 101px;
left: 815px;
top: 775px;

/* PLANIFICACIÓN */

position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 775px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

/* Usted podrá observar y participar en cada fase del desarrollo y aplicación de soluciones. */

position: absolute;
width: 270px;
height: 75px;
left: 815px;
top: 801px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;

/* Feature 4 */

position: absolute;
width: 270px;
height: 101px;
left: 1115px;
top: 775px;

/* TEGNOLOGÍA MODERNA */

position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 775px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

/* Usamos herramientas innovadoras para resolver las tareas asignadas. Es hora de simplificar los procesos laborales. */

position: absolute;
width: 270px;
height: 75px;
left: 1115px;
top: 801px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;

/* Portafolio */

position: relative;
width: 1600px;
height: 1880px;

background: #ffffff;

/* Línea Superior */

position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

/* línea superior bg */

position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

background: #ffffff;

/* Línea */

position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 80px;

border: 1px solid #ececec;

/* Estudio Web */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: "Raleway";
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: #2196f3;

/* Menu Nav */

position: absolute;
width: 285px;
height: 16px;
left: 453px;
top: 32px;

/* Estudio */

position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

/* Portafolio */

position: absolute;
width: 65px;
height: 16px;
left: 552px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

/* Enlace activo */

position: absolute;
width: 65px;
height: 16px;
left: 552px;
top: 32px;

/* Portafolio */

position: absolute;
width: 65px;
height: 16px;
left: 552px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196f3;

/* Contacto */

position: absolute;
width: 59px;
height: 16px;
left: 679px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

/* Correo electrónico */

position: absolute;
width: 161px;
height: 16px;
left: 1052px;
top: 32px;

/* info@devstudio.com */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

/* sobre */

position: absolute;
left: 65.75%;
right: 33.25%;
top: 1.81%;
bottom: 97.55%;

background: #757575;

/* Teléfono */

position: absolute;
width: 138px;
height: 16px;
left: 1243px;
top: 32px;

/* +52 55 5529 6000 */

position: absolute;
width: 118px;
height: 16px;
left: 1263px;
top: 32px;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

/* teléfono inteligente */

position: absolute;
width: 10px;
height: 16px;
left: 1243px;
top: 32px;

/* Vector */

position: absolute;
left: 77.69%;
right: 21.69%;
top: 1.7%;
bottom: 97.45%;

background: #757575;

/* Vector */

position: absolute;
left: 77.78%;
right: 22.16%;
top: 2.43%;
bottom: 97.52%;

background: #757575;

/* Portafolio */

position: absolute;
width: 1170px;
height: 1360px;
left: 215px;
top: 186px;

/* filtros */

position: absolute;
width: 611px;
height: 54px;
left: 495px;
top: 186px;

/* filtro 1 (activo) */

position: absolute;
width: 73px;
height: 38px;
left: 495px;
top: 186px;

/* Rectángulo 10 */

position: absolute;
width: 73px;
height: 38px;
left: calc(50% - 73px / 2 - 268.5px);
top: calc(50% - 38px / 2 - 735px);

background: #2196f3;
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;

/* Todo */

position: absolute;
width: 38px;
height: 26px;
left: calc(50% - 38px / 2 - 269px);
top: calc(50% - 26px / 2 - 735px);

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;

color: #ffffff;

/* señal 1 */

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px / 2 - 246px);
top: calc(50% - 16px / 2 - 708px);

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

background: #000000;

/* filtro 2 */

position: absolute;
width: 128px;
height: 38px;
left: 576px;
top: 186px;

/* Rectángulo 10 */

position: absolute;
width: 128px;
height: 38px;
left: calc(50% - 128px / 2 - 160px);
top: calc(50% - 38px / 2 - 735px);

background: #f5f4fa;
border-radius: 4px;

/* Sitios-web */

position: absolute;
width: 80px;
height: 26px;
left: calc(50% - 80px / 2 - 160px);
top: calc(50% - 26px / 2 - 735px);

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* filtro 3 */

position: absolute;
width: 145px;
height: 38px;
left: 712px;
top: 186px;

/* Rectángulo 10 */

position: absolute;
width: 145px;
height: 38px;
left: calc(50% - 145px / 2 - 15.5px);
top: calc(50% - 38px / 2 - 735px);

background: #f5f4fa;
border-radius: 4px;

/* Aplicaciones */

position: absolute;
width: 98px;
height: 26px;
left: calc(50% - 98px / 2 - 16px);
top: calc(50% - 26px / 2 - 735px);

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* filtro 4 */

position: absolute;
width: 103px;
height: 38px;
left: 865px;
top: 186px;

/* Rectángulo 10 */

position: absolute;
width: 103px;
height: 38px;
left: calc(50% - 103px / 2 + 116.5px);
top: calc(50% - 38px / 2 - 735px);

background: #f5f4fa;
border-radius: 4px;

/* Diseño */

position: absolute;
width: 52px;
height: 26px;
left: calc(50% - 52px / 2 + 116px);
top: calc(50% - 26px / 2 - 735px);

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* filtro 5 */

position: absolute;
width: 130px;
height: 38px;
left: 976px;
top: 186px;

/* Rectángulo 10 */

position: absolute;
width: 130px;
height: 38px;
left: calc(50% - 130px / 2 + 241px);
top: calc(50% - 38px / 2 - 735px);

background: #f5f4fa;
border-radius: 4px;

/* Marketing */

position: absolute;
width: 77px;
height: 26px;
left: calc(50% - 77px / 2 + 241.5px);
top: calc(50% - 26px / 2 - 735px);

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* proyecto 1 */

position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 274px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 274px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2 - 400px);
top: calc(50% - 404px / 2 - 464px);

background: #ffffff;
border: 1px solid #eeeeee;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2 - 400px);
top: calc(50% - 294px / 2 - 519px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 70px;
left: 239px;
top: 588px;

/* Sitio-web */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2 - 400px);
top: calc(50% - 30px / 2 - 297px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* Tecnoduck */

position: absolute;
width: 322px;
height: 36px;
left: calc(50% - 322px / 2 - 400px);
top: calc(50% - 36px / 2 - 334px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;

color: #212121;

/* proyecto 2 */

position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 274px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 274px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2);
top: calc(50% - 404px / 2 - 464px);

background: #ffffff;
border: 1px solid #eeeeee;

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2);
top: calc(50% - 294px / 2 - 519px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 72px;
left: 639px;
top: 588px;

/* Diseño */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2);
top: calc(50% - 30px / 2 - 297px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* Póster de Nueva Orleans vs Estrella Dorada */

position: absolute;
width: 322px;
height: 72px;
left: calc(50% - 322px / 2);
top: calc(50% - 72px / 2 - 316px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* or 200% */
letter-spacing: 0.06em;

color: #212121;

/* proyecto 3 */

position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 274px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 274px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2 + 400px);
top: calc(50% - 404px / 2 - 464px);

background: #ffffff;
border: 1px solid #eeeeee;

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2 + 400px);
top: calc(50% - 294px / 2 - 519px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 70px;
left: 1039px;
top: 588px;

/* Aplicaciones */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2 + 400px);
top: calc(50% - 30px / 2 - 297px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* Restaurante de Mariscos */

position: absolute;
width: 322px;
height: 36px;
left: calc(50% - 322px / 2 + 400px);
top: calc(50% - 36px / 2 - 334px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;

color: #212121;

/* proyecto 4 */

position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 708px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 708px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2 - 400px);
top: calc(50% - 404px / 2 - 30px);

background: #ffffff;
border: 1px solid #eeeeee;

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2 - 400px);
top: calc(50% - 294px / 2 - 85px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 70px;
left: 239px;
top: 1022px;

/* Marketing */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2 - 400px);
top: calc(50% - 30px / 2 + 137px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* Proyecto Prime */

position: absolute;
width: 322px;
height: 36px;
left: calc(50% - 322px / 2 - 400px);
top: calc(50% - 36px / 2 + 100px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;

color: #212121;

/* proyecto 5 */

position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 708px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 708px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2);
top: calc(50% - 404px / 2 - 30px);

background: #ffffff;
border: 1px solid #eeeeee;

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2);
top: calc(50% - 294px / 2 - 85px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 70px;
left: 639px;
top: 1022px;

/* Aplicaciones */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2);
top: calc(50% - 30px / 2 + 137px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* Proyecto Cajas */

position: absolute;
width: 322px;
height: 36px;
left: calc(50% - 322px / 2);
top: calc(50% - 36px / 2 + 100px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;

color: #212121;

/* proyecto 6 */

position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 708px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 708px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2 + 400px);
top: calc(50% - 404px / 2 - 30px);

background: #ffffff;
border: 1px solid #eeeeee;

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2 + 400px);
top: calc(50% - 294px / 2 - 85px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 70px;
left: 1039px;
top: 1022px;

/* Sitio-web */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2 + 400px);
top: calc(50% - 30px / 2 + 137px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* La inspiración no tiene límites */

position: absolute;
width: 322px;
height: 36px;
left: calc(50% - 322px / 2 + 400px);
top: calc(50% - 36px / 2 + 100px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;

color: #212121;

/* proyecto 7 */

position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 1142px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 1142px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2 - 400px);
top: calc(50% - 404px / 2 + 404px);

background: #ffffff;
border: 1px solid #eeeeee;

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2 - 400px);
top: calc(50% - 294px / 2 + 349px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 70px;
left: 239px;
top: 1456px;

/* Diseño */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2 - 400px);
top: calc(50% - 30px / 2 + 571px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* Edición Limitada */

position: absolute;
width: 322px;
height: 36px;
left: calc(50% - 322px / 2 - 400px);
top: calc(50% - 36px / 2 + 534px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;

color: #212121;

/* proyecto 8 */

position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 1142px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 1142px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2);
top: calc(50% - 404px / 2 + 404px);

background: #ffffff;
border: 1px solid #eeeeee;

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2);
top: calc(50% - 294px / 2 + 349px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 70px;
left: 639px;
top: 1456px;

/* Marketing */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2);
top: calc(50% - 30px / 2 + 571px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* Proyecto LAB */

position: absolute;
width: 322px;
height: 36px;
left: calc(50% - 322px / 2);
top: calc(50% - 36px / 2 + 534px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;

color: #212121;

/* proyecto 9 */

position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 1142px;

/* Grupo 1 */

position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 1142px;

/* contenedor bg */

box-sizing: border-box;

position: absolute;
width: 370px;
height: 404px;
left: calc(50% - 370px / 2 + 400px);
top: calc(50% - 404px / 2 + 404px);

background: #ffffff;
border: 1px solid #eeeeee;

/* imagen */

position: absolute;
width: 370px;
height: 294px;
left: calc(50% - 370px / 2 + 400px);
top: calc(50% - 294px / 2 + 349px);

background: url(.jpg);

/* título */

position: absolute;
width: 322px;
height: 70px;
left: 1039px;
top: 1456px;

/* Aplicaciones */

position: absolute;
width: 322px;
height: 30px;
left: calc(50% - 322px / 2 + 400px);
top: calc(50% - 30px / 2 + 571px);

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;

color: #757575;

/* Negocio en Crecimiento */

position: absolute;
width: 322px;
height: 36px;
left: calc(50% - 322px / 2 + 400px);
top: calc(50% - 36px / 2 + 534px);

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;

color: #212121;

/* señal 1 */

position: absolute;
width: 16px;
height: 16px;
left: 465px;
top: 639px;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Grupo */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

background: #000000;

/* Base */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 1628px;

/* Pie de página bg */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 1628px;

background: #2f303a;

/* Estudio Web */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 1688px;

font-family: "Raleway";
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: #2196f3;

/* Dirección */

position: absolute;
width: 231px;
height: 100px;
left: 215px;
top: 1733px;

/* Calz. Ticomán 500, Ciudad de México, CDMX, México */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1733px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #ffffff;

/* info@example.com */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1782px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

/* +52 55 5529 6000 */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1812px;

font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

/* Redes Sociales */

position: absolute;
width: 206px;
height: 80px;
left: 516px;
top: 1703px;

/* ENCUENTRENOS EN */

position: absolute;
width: 135px;
height: 16px;
left: 516px;
top: 1703px;

font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #ffffff;

/* Enlaces de las Redes Sociales */

position: absolute;
width: 206px;
height: 44px;
left: 516px;
top: 1739px;

/* Elipse */

position: absolute;
width: 44px;
height: 44px;
left: 678px;
top: 1739px;

/* Elipse */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: rgba(255, 255, 255, 0.1);

/* linkedin 1 */

position: absolute;
left: 27.27%;
right: 27.27%;
top: 27.27%;
bottom: 27.27%;

/* Vector */

position: absolute;
left: 35.37%;
right: 0%;
top: 31.56%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 1.65%;
right: 77.62%;
top: 33.24%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 0%;
right: 75.98%;
top: 0%;
bottom: 75.87%;

background: #ffffff;

/* Elipse */

position: absolute;
width: 44px;
height: 44px;
left: 624px;
top: 1739px;

/* facebook 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Elipse */

position: absolute;
width: 44px;
height: 44px;
left: 570px;
top: 1739px;

/* Elipse */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #2196f3;

/* twitter 1 */

position: absolute;
left: 27.27%;
right: 27.27%;
top: 27.27%;
bottom: 27.27%;

/* Grupo */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;

/* Grupo */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;

background: #ffffff;

/* Elipse */

position: absolute;
width: 44px;
height: 44px;
left: 516px;
top: 1739px;

/* Elipse */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: rgba(255, 255, 255, 0.1);

/* instagram 2 */

position: absolute;
left: 27.27%;
right: 27.27%;
top: 27.27%;
bottom: 27.27%;

/* Vector */

position: absolute;
left: 0.18%;
right: -0.16%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 24.5%;
right: 24.13%;
top: 24.32%;
bottom: 24.3%;

background: #ffffff;

/* Vector */

position: absolute;
left: 70.89%;
right: 17.11%;
top: 17.31%;
bottom: 70.7%;

background: #ffffff;

/* Vector 1 */

position: absolute;
width: 100px;
height: 100px;
left: -75px;
top: 1465px;

border: 1px solid #000000;

/* Ellipse */

position: absolute;
left: 39%;
right: 58.25%;
top: 92.5%;
bottom: 5.16%;

/* Ellipse */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: rgba(255, 255, 255, 0.1);

/* facebook 1 */

position: absolute;
left: 27.27%;
right: 27.27%;
top: 27.27%;
bottom: 27.27%;

/* Vector */

position: absolute;
left: 25.78%;
right: 24.22%;
top: 0%;
bottom: 0%;

background: #ffffff;
}